@supports (display:flex) {
    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-row-items-center {
        align-items: center;
    }

    .flex-row-items-right {
        align-items: flex-end;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .flex-1-height {
        flex: 1;
    }

    .flex-2-height {
        flex: 2;
    }

    .flex-1-width {
        flex: 1;
    }

    .flex-2-width {
        flex: 2;
    }

    .full-screen-size {
        width: 100vw;
        height: 100vh;
    }

    .width-100-percent {
        width: 100%;
    }

    .height-100-percent {
        height: 100%;
    }
}
@supports (flow:horizontal) {
    .flex-row {
        flow: horizontal;
    }

    .flex-row-items-center > * {
        margin-top: *;
        margin-bottom: *;
    }

    .flex-row-items-right > * {
        margin-left: *;
    }

    .flex-col {
        flow: vertical;
    }

    .flex-1-height {
        height: *;
    }

    .flex-2-height {
        height: 2*;
    }

    .flex-1-width {
        width: *;
    }

    .flex-2-width {
        width: 2*;
    }

    .full-screen-size {
        size: *;
    }

    .width-100-percent {
        width: *;
    }

    .height-100-percent {
        height: *;
    }
}
